iAM-legacy/AuthenticateCS/AuthenticateCS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LoginIntranetCS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="applId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginIntranetCSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginIntranetCSResult" type="tns:clsLoginResultCS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clsLoginResultCS">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="result" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="accessRole" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="accessLevel" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userNTLogin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dbConnectString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="enc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="encResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginIntranetCSSoapIn">
    <wsdl:part name="parameters" element="tns:LoginIntranetCS" />
  </wsdl:message>
  <wsdl:message name="LoginIntranetCSSoapOut">
    <wsdl:part name="parameters" element="tns:LoginIntranetCSResponse" />
  </wsdl:message>
  <wsdl:message name="encSoapIn">
    <wsdl:part name="parameters" element="tns:enc" />
  </wsdl:message>
  <wsdl:message name="encSoapOut">
    <wsdl:part name="parameters" element="tns:encResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticateCSSoap">
    <wsdl:operation name="LoginIntranetCS">
      <wsdl:input message="tns:LoginIntranetCSSoapIn" />
      <wsdl:output message="tns:LoginIntranetCSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="enc">
      <wsdl:input message="tns:encSoapIn" />
      <wsdl:output message="tns:encSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticateCSSoap" type="tns:AuthenticateCSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginIntranetCS">
      <soap:operation soapAction="http://tempuri.org/LoginIntranetCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enc">
      <soap:operation soapAction="http://tempuri.org/enc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthenticateCSSoap12" type="tns:AuthenticateCSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoginIntranetCS">
      <soap12:operation soapAction="http://tempuri.org/LoginIntranetCS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enc">
      <soap12:operation soapAction="http://tempuri.org/enc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticateCS">
    <wsdl:port name="AuthenticateCSSoap" binding="tns:AuthenticateCSSoap">
      <soap:address location="http://170.93.50.24/sms/AuthenticateCS/AuthenticateCS.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthenticateCSSoap12" binding="tns:AuthenticateCSSoap12">
      <soap12:address location="http://170.93.50.24/sms/AuthenticateCS/AuthenticateCS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>